/* footer */

.footer {
	margin-top: auto;
	background-color: $flamingo;
	height: 300px;


	&__list{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__item{
		margin-right: 70px;
		transition: .3s;
		border-bottom: 1px solid transparent;
		@at-root :root.hover &:hover{
			border-bottom: 1px solid $white;
		}
	}
}
