/* footer */

.footer {
	margin-top: auto;
	background-color: $flamingo;
	padding-top: 48px;
	padding-bottom: 19px;
	position: relative;
	@include media('<md') {
		padding-top: 29px;
		padding-bottom: 16px;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-flow: row nowrap;
		width: 100%;

		@include media('<md') {
			display: block;
			max-width: 504px;
			width: 100%;
			column-count: 3;
			margin-left: auto;
			margin-right: auto;
		}


		@include media('<sm') {
			column-count: 2;
		}
	}

	&__item {
		transition: .3s;
		border-bottom: 1px solid transparent;
		margin-bottom: 38px;
		font-size: 16px;
		line-height: 20px;

		@at-root :root.hover &:hover {
			border-bottom: 1px solid $white;
		}

		@include media('<md') {
			margin-bottom: 18px;
		}

	}

	&__copyright {
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: $white;
	}


}
