.top {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;

	@include media('<sm') {
		background-position: 15% 15%;
	}

	.container {
		height: 100%;
	}

	&__wrap {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@include media("<sm") {
			align-items: start;
			justify-content: center;
		}
	}

	&__text {
		font-size: 60px;
		line-height: 72px;

		@include media('<md') {
			font-size: 48px;
			line-height: 60px;
		}

		@include media('<sm') {
			font-size: 30px;
			line-height: 34px;
		}
	}

}

.top-about {

	&__image {
		position: absolute;
		top: 10px;
		display: block;
		max-width: 341px;
		width: calc(341 / 1440 * 100vw);
		z-index: -1;
	}

	&__image-girl {
		position: absolute;
		display: block;
		bottom: -80px;
		right: 0;
		width: 100%;
		max-width: 408px;
		z-index: -1;
		@include media('<md') {
			max-width: 371px;
			right: -35px;
		}
		@include media('<sm') {
			max-width: 229px;
			right: 0;
		}
	}

	&__text {
		padding-bottom: 30px;
		text-shadow: -0   -4px 0 #FFFFFF,
		0   -4px 0 #FFFFFF,
		-0 4px 0 #FFFFFF,
		0 4px 0 #FFFFFF,
		-4px -0 0 #FFFFFF,
		4px -0 0 #FFFFFF,
		-4px 0 0 #FFFFFF,
		4px 0 0 #FFFFFF,
		-1px -4px 0 #FFFFFF,
		1px -4px 0 #FFFFFF,
		-1px 4px 0 #FFFFFF,
		1px 4px 0 #FFFFFF,
		-4px -1px 0 #FFFFFF,
		4px -1px 0 #FFFFFF,
		-4px 1px 0 #FFFFFF,
		4px 1px 0 #FFFFFF,
		-2px -4px 0 #FFFFFF,
		2px -4px 0 #FFFFFF,
		-2px 4px 0 #FFFFFF,
		2px 4px 0 #FFFFFF,
		-4px -2px 0 #FFFFFF,
		4px -2px 0 #FFFFFF,
		-4px 2px 0 #FFFFFF,
		4px 2px 0 #FFFFFF,
		-3px -4px 0 #FFFFFF,
		3px -4px 0 #FFFFFF,
		-3px 4px 0 #FFFFFF,
		3px 4px 0 #FFFFFF,
		-4px -3px 0 #FFFFFF,
		4px -3px 0 #FFFFFF,
		-4px 3px 0 #FFFFFF,
		4px 3px 0 #FFFFFF,
		-4px -4px 0 #FFFFFF,
		4px -4px 0 #FFFFFF,
		-4px 4px 0 #FFFFFF,
		4px 4px 0 #FFFFFF,
		-4px -4px 0 #FFFFFF,
		4px -4px 0 #FFFFFF,
		-4px 4px 0 #FFFFFF,
		4px 4px 0 #FFFFFF;
		@include media('<sm') {
			font-size: 16px;
			line-height: 24px;
		}
	}
}

.experience {
	display: block;

	&_voice {
		@extend .experience;
		.experience__list{
			margin-top: 110px;
			@include media('<md'){
				margin-top: 50px;
			}
		}
		.experience__item {
			border-radius: 30px;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
			background: white;
			border-color: #F40F7D;
			margin-top: 40px;
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	&__list {
		width: 100%;
		display: block;
		@include media('<md') {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
		}

		@include media('<sm') {
			max-width: 345px;
		}

	}

	&__item {
		background: repeating-linear-gradient(-45deg,
			transparent, transparent 10px, rgba(#FFCFE2, 0.3) 0, rgba(#FFCFE2, 0.3) 20px);
		border: 5px solid $green;
		padding: 17px 40px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: stretch;
		align-items: start;
		margin-top: 40px;

		@include media('<md') {
			padding-left: 20px;
			padding-right: 20px;
			margin-top: 30px;
		}

		@include media('<sm') {
			flex-direction: column;
			align-items: center;
			padding-left: 0;
			padding-right: 0;
			margin-top: 15px;
		}
	}

	&__image-wrap {
		display: block;
		width: 100%;
		max-width: 250px;
		@include media('<md') {
			max-width: 185px;
		}
		@include media('<sm') {
			max-width: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__image-inner {
		max-width: 240px;
		width: 100%;
		display: block;
		position: relative;
		box-shadow: 10px 10px 0 0 $persian;
		margin-bottom: 15px;
		margin-right: 10px;
		@include media('<md') {
			max-width: 175px;
		}
		@include media('<sm') {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: calc(260 / 240 * 100%);
		position: relative;
		z-index: 11;

		img {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}

	&__image-title {
		@include secondaryFont;
		font-size: 24px;
		line-height: 28px;
		font-weight: 700;
		color: #000;
		@include media('<md') {
			font-size: 20px;
			line-height: 24px;
		}

		@include media('<sm') {
			font-size: 20px;
			line-height: 24px;
		}
	}

	&__image-text-wrap {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: stretch;
		@include media('<sm') {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	&__image-text {
		font-size: 18px;
		line-height: 22px;
		@include secondaryFont;
		color: #000;
		margin-top: 10px;

		@include media('<md') {
			font-size: 14px;
			line-height: 18px;
		}

		@include media('<sm') {
			display: inline-block;
			width: auto;
		}


	}

	&__desc-wrap {
		width: calc(100% - 240px);
		padding-top: 5px;
		padding-left: 40px;
		@include media('<md') {
			width: calc(100% - 120px);
		}

		@include media('<sm') {
			width: 100%;
			padding-left: 0;
		}
	}

	&__desc-header {
		border-bottom: 3px solid #000;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding-bottom: 5px;

		@include media('<sm') {
			flex-direction: column;
			align-items: center;
			margin-left: 10px;
			margin-right: 10px;
			padding-bottom: 10px;
		}
	}

	&__desc-header-salary {
		font-size: 24px;
		line-height: 28px;
		@include secondaryFont;
		color: $hotPink;
		font-weight: 700;

		@include media('<md') {
			font-size: 18px;
			line-height: 22px;
		}
	}

	&__desc-header-text {
		font-size: 28px;
		line-height: 32px;
		@include secondaryFont;
		color: $red;
		font-weight: 700;
		@include media('<md') {
			font-size: 22px;
			line-height: 26px;
		}

		@include media('<sm') {
			font-size: 20px;
			line-height: 24px;
			margin-top: 10px;
		}
	}

	&__desc-calendar {
		background-color: $lemonade;
		margin-top: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 7px 12px;

		@include media('<md') {
			padding: 4px 8px;
		}
		@include media('<sm') {
			margin-top: 10px;
		}
	}

	&__desc-calendar-icon {
		max-width: 50px;
		width: 100%;
		display: block;
		@include media('<md') {
			max-width: 36px;
		}
		@include media('<sm') {
			max-width: 26px;
		}
	}

	&__desc-calendar-work {
		font-size: 20px;
		line-height: 24px;
		@include secondaryFont;
		font-weight: 700;
		color: #000;
		@include media('<md') {
			font-size: 14px;
			margin-left: 10px;
		}

		@include media('<sm') {
			font-size: 12px;
			line-height: 20px;
		}
	}

	&__desc-calendar-number {
		font-size: 64px;
		line-height: 68px;
		color: #000;
		@include secondaryFont;
		font-weight: 700;

		@include media('<md') {
			font-size: 48px;
			line-height: 52px;
		}

		@include media('<sm') {
			font-size: 30px;
			line-height: 34px;
		}
		@include media('<xs') {
			font-size: 25px;
		}
	}

	&__desc-calendar-text {
		font-size: 24px;
		line-height: 24px;
		@include secondaryFont;
		font-weight: 700;
		color: #000;
		@include media('<md') {
			font-size: 18px;
			line-height: 22px;
		}

		@include media('<sm') {
			font-size: 14px;
			line-height: 18px;
			display: block;
		}
		@include media('<xs') {
			font-size: 12px;
		}
	}

	&__desc-calendar-jobs {
		font-size: 18px;
		line-height: 24px;
		color: #000;
		@include secondaryFont;
		text-align: right;
		display: block;
		margin-top: 5px;

		@include media('<md') {
			font-size: 14px;
		}

		@include media('<sm') {
			font-size: 12px;
			line-height: 16px;
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 10px;
		}
	}

	&__desc-price {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 3px solid #000;
		margin-top: 15px;
		@include media('<md') {
			font-size: 18px;
			line-height: 22px;
			padding-bottom: 5px;
		}

		@include media('<sm') {
			font-size: 14px;
			line-height: 18px;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 20px;
			padding-bottom: 10px;
		}
	}

	&__desc-price-text {
		background-color: $persian;
		@include secondaryFont;
		font-size: 24px;
		line-height: 28px;
		font-weight: 700;
		color: $white;
		padding: 13px 10px;

		@include media('<md') {
			font-size: 18px;
			line-height: 22px;
			padding: 9px 12px;
		}

		@include media('<sm') {
			font-size: 16px;
		}
		@include media('<xs') {
			font-size: 14px;
			line-height: 19px;
			padding: 8px;
		}
	}

	&__desc-price-sum {
		font-size: 72px;
		line-height: 80px;
		@include thirdFont;
		color: $hotPink;
		@include media('<md') {
			font-size: 48px;
			line-height: 52px;
		}

		@include media('<sm') {
			font-size: 36px;
			line-height: 40px;
		}
		@include media('<xs') {
			font-size: 31px;
			line-height: 35px;
		}
	}

	&__desc-price-currency {
		font-size: 48px;

		@include media('<md') {
			font-size: 24px;
		}

		@include media('<sm') {
			font-size: 18px;
		}
	}

	&__desc-bottom {
		display: flex;
		align-items: center;
		justify-content: stretch;
		@include media('<sm') {
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 20px;
		}
	}

	&__desc-bottom-text {
		background-color: $green;
		@include secondaryFont;
		font-size: 18px;
		line-height: 22px;
		color: $white;
		padding: 7px 13px;
		margin-left: calc(10% + 2px);
		@include media('<md') {
			font-size: 14px;
			line-height: 18px;
		}

		@include media('<sm') {
			font-size: 12px;
			line-height: 16px;
			margin-left: 0;
		}

	}

	&__desc-bottom-sum {
		font-weight: 700;
		font-size: 64px;
		line-height: 68px;
		@include secondaryFont;
		color: #000;
		margin-left: auto;
		@include media('<md') {
			font-size: 48px;
			line-height: 52px;
		}

		@include media('<sm') {
			font-size: 36px;
			line-height: 40px;
		}
		@include media('<xs') {
			font-size: 27px;
			line-height: 41px;
		}

	}

	&__desc-bottom-currency {
		font-size: 36px;

		@include media('<md') {
			font-size: 24px;
		}

		@include media('<sm') {
			font-size: 18px;
		}
	}


}

.top-fag {

	&__image-wrap {
		display: flex;
		justify-content: center;
		align-items: stretch;
	}

	&__image {
		display: block;
		max-width: 208px;
		width: 100%;
	}

}

.top-info {
	position: relative;

	&:after {
		position: absolute;
		content: '';
		display: block;
		width: 541px;
		height: 713px;
		background-image: url("/images/info_img.png");
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		left: 150px;
		bottom: 0;
		z-index: 1;

		@include media('<lg') {
			left: 0;
		}

		@include media('<md') {
			left: -220px;
		}
		@include media('<sm') {
			display: none;
		}
	}

	&__wrap {
		max-width: 468px;
		width: 100%;
		margin-left: auto;
		z-index: 2;
		position: relative;

		@include media('<md') {
			margin-right: auto;
		}
	}

	&__inner-wrap {
		background-color: $flamingo;
		border-radius: 40px;
		padding: 18px 10px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__inner {
		border: 5px solid $white;
		width: 100%;
		height: 100%;
		border-radius: 40px;
		padding: 53px 30px;
		position: relative;
		@include media('<sm') {
			padding-top: 33px;
			padding-bottom: 65px;
		}
	}

	&__icon {
		position: absolute;
		display: block;
		max-width: 79px;
		width: 100%;

		&:nth-child(1) {
			left: 14px;
			top: 12px;
		}

		&:nth-child(2) {
			right: 12px;
			top: 13px;
			transform: rotate(88deg);
		}

		&:nth-child(3) {
			right: 12px;
			bottom: 12px;
			transform: rotate(180deg);
		}

		&:nth-child(4) {
			left: 10px;
			bottom: 15px;
			transform: rotate(-90deg);
		}
	}

	&__text {
		font-size: 20px;
		line-height: 32px;
		@include primaryFont;

		&:nth-of-type(2) {
			margin-top: 12px;
		}

		@include media('<sm') {
			font-size: 16px;
			line-height: 24px;
		}
	}
}

.top-contact {
background-color: $blush;
}



